@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&family=Proza+Libre:wght@400;500;600&family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: rgb(248, 237, 224);
  /* background-color: rgb(30, 20, 6); */
}

.hero {
  color: #b43030;
  font-size: 0.875rem; 
  min-height: 26.313rem; 
  background: #929E90 url("/img/mobile-hero-n.png");
  background-size: cover;
}


/* Nav Bar */

li{
  list-style: none;
}

a{
  color: #4e380b;
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

.navbar{
  position: fixed;
  /* background: linear-gradient(180deg, rgba(146,158,144,1) 74%, rgba(146,158,144,0.4198471624978116) 100%); */
  background-color: #b0bbaf;
 
  min-height: 70px;
  width: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  /* border: 2px solid red; */
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  /* border: 2px solid purple; */
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: #893f3d;
}

.hamburger{
  display: block;
  position:fixed;
  right: 30px;
  cursor: pointer;
  margin-left: 290px;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  position: fixed;
  top: -160px;
  left: -1px;
  gap: 0;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(146,158,144,1) 0%, rgba(225,207,177,1) 88%);
  width: 100%;
  text-align: center;
  transition: 0.5s;
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  top: 0;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #4e380b;
}

/* About Me Section */

h3{
  font-size: 20px;
  margin: 50px;
  color: rgb(248, 237, 224);;
}

.about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
}

span, .about-me{
  color: rgb(138, 74, 17);
 
}



.tittles{
  font-family: 'Proza Libre', sans-serif;
  font-size: 32px;
  color: #65827c;
  color: #6d573e;
  text-align: center;
}

.photo{
  border-radius: 50%;
  height: 195px;
  width: 190px;
  margin-bottom: 30px;
}

.about-me-text {
  font-size: 24px;
  line-height: 40px;
  color: rgb(91, 61, 24);
  background-color: #e6e3dd;
  box-shadow: 5px 5px 8px #4e380b13;
  border-radius: 20px;
  padding: 20px;
  margin: 0 20px;
}

/* PROJECTS */

.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1, .project {
 margin-bottom: 50px;
}

.project-gif{
  width: 90%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.project-text {
  font-size: 24px;
  line-height: 40px;
  color: rgb(91, 61, 24);
  background-color: #e6e3dd;
  box-shadow: 5px 5px 8px #4e380b13;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 20px;
}

.tindog{
  margin: 0px;
  color: #4e380b;
}



.features {
  font-size: 20px;
  margin: 20px 0 0 10px;
  text-align: left;
  
}



.tags{
  display: flex;
}

.tech-tags{
  background-color: #0f987d35;
  color: rgb(46, 45, 42);
  font-size: 20px;
  /* border-radius: 15px; */
  padding: 0px;
  margin: 10px;
}

.button-links{
  background-color: rgb(23, 136, 142);
  color: rgb(248, 244, 239);
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

/* Form */

.division{
  width: 50%;
  margin: auto;
  color: #522e054f;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-message{
  color: #4e380b;
  text-align: center;
  margin: 0 30px 100px 0;
  font-size: 20px;
}

.user-message>span{
  color: #3b2a06;
  font-weight: 600;
}

form{
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 30px;
  background-color: #b0bbae;
  box-shadow: 5px 5px 8px #4e380b13; 
  border-radius: 10px;

}

.email{
 margin:10px 5px;
 color: #513218;
}

.form-input{
  padding: 5px 10px;
  margin:10px 0px;
  background-color: #eaeee9;
  border-radius: 10px;
  text-align: left;
  color:#052d29;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.form-input:focus{
  outline: 2px solid #17888e;
  color: rgb(84, 84, 85);
}



.message{
  color:#07474179;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.submit-btn{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center; */
  width: 80px;
  color: rgb(235, 232, 232);
  font-size: 15px;
  font-weight:300;
  background-color:#17888e;
  padding: 10px;
  border-radius: 10px;
}






