@media(min-width:768px){
  
.hamburger{
  display: none;
  cursor: pointer;
}


.nav-menu{
  position: fixed;
  top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  background: #b0bbaf;
}

a{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 28px;
}

.hero{
  background: #929E90 url("/img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
 
}

body{
  background-color: antiquewhite;
}


}



 
  




















